/* necessary for footer */
html {
  position: relative;
  min-height: 100%;
}

h1 {
  /* original bootstrap value is too much */
  margin-top: 10px;
}

h2 {
  /* original bootstrap value is too much */
  margin-top: 5px;
}

.content {
  margin-top: 55px;
}

.content-middle {
  border: 1px solid purple;
}

.make-post {
  border: 1px solid black;
  padding: 0;
  margin-top: 20px;
}

.make-post .form-group {
  margin: 0;
}

.txtarea-post {
  margin: 0;
  padding: 0;
}

.btn-post {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 0 20px;
}

.feed {
  border: 1px solid black;
  margin-top: 20px;
  max-height: 60vh;
  overflow-y: scroll;
}

.like-share {
  list-style: none;
  padding: 0;
  margin: 0;
}

.like-share li {
  display: inline;
}

.make-comment-wrap {
  position: relative;
  margin-top: 5px;
}

.make-comment-wrap .form-group {
  margin: 0;
}

.btn-comment {
  position: absolute;
  right: 0;
  bottom: 0;
  top: 0;
  padding: 0 20px;
}

.post-body {
  border: 1px solid black;
  padding: 0 5px 5px 5px;
}

.like-share {
  margin-top: 5px;
  padding-left: 5px;
}

.post-body p {
  margin: 0;
}

.post {
  margin-bottom: 50px;
}

.poster a {
  color: inherit;
  text-decoration: none;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}
