body {
	/* necessary because of navbar fixed to top */
  padding-top: 51px;
  /* background */
  background: url("../img/backg.jpg") no-repeat center center fixed;
  background-size: cover;
}

div.outter-box {
  display: table;
  position: absolute;
  height: 80%;
  width: 100%;
}

div.middle-box {
  display: table-cell;
  vertical-align: middle;
}

div.inner-box {
  margin-left: auto;
  margin-right: auto;
  width: 900px;
}

input[type="search"] {
  height: 34px;
}

@media (max-width: 979px) {
  body {
    padding-top: 50px;
  }
}

@media (max-width: 768px) {
  body {
    padding-top: 175px;
  }
}

.footer {
   text-shadow: 0 0 10px #ffffff;
}
