.event {
  margin-top: 55px;
}

.info{
	margin-top: 10px;
}

.img-responsive{
	display: block;
	margin-left:auto;
    margin-right:auto;
}

.details {
	height:50%;
    width: 50%;
	margin-top:10px;
	position: relative;
	border: 1px solid black;
}
