html {
  height: 100%;
}

body {
  height: 100%;
  background: url("../img/backg.jpg") no-repeat center center fixed;
  background-size: cover;
}

h2 {
  /* bootstrap margin is huge */
  margin: 0;
  font-size: 2.2rem;
}

h2 > a {
  /* !important is required because of bootstrap */
  text-decoration: none !important;
  color: inherit !important;
}

.body-flex {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.navbar {
  /* const size */
  flex: none;
  /* remove bootstrap margin */
  margin-bottom: 0;
}

/* if it's stupid but it works, it isn't stupid */
.navbar-search-bar {
  margin-top: 8px;
  margin-bottom: -8px;
}

.content {
  flex: auto;
  display: flex;
}

.content-left {
  flex: 0 0 200px;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.events, .groups {
  border: 1px solid black;
  max-height: 115px;
  flex: 0 0 auto;
  margin: 10px 15px;
  padding: 5px;
  overflow-y: hidden;
}

.event-list, .group-list {
  /* remove bootstrap margin */
  margin: 0;
}

.event-list li > a, .group-list li > a {
  text-decoration: none;
}

.chat {
  border: 1px solid black;
  min-height: 150px;
  flex: 1 1 content;
  margin: 10px 15px;
  padding: 5px;
  display: flex;
  flex-direction: column;
}

.contact-list {
  flex: 1 1 content;
  /* remove bootstrap margin */
  margin: 0;
  overflow-y: auto;
}

.contact-list li {
  background-color: #e8e8e8;
  border: 1px solid black;
  border-radius: 2px;
  width: 80%;
  margin: 10px auto;
}

.contact-list li > a {
  display: block;
  text-decoration: none;
}

.chat-search-bar {
  margin: 0;
  padding-top: 10px;
  padding-bottom: 5px;
}

.content-middle {
  flex: auto;
  overflow-y: auto;
}

.make-post {
  margin: 10px 15px;
  padding: 5px;
}

.make-post-form {
  position: relative;
  margin: 0 auto;
}

.txtarea-post {
  margin: 0;
}

.form-group {
  margin: 0;
}

.btn-post {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 1px 25px;
}

.post {
  margin: 25px 15px;
  padding: 5px;
}

.post-body {
  border: 1px solid black;
  padding: 0 5px 5px 5px;
}

.post-body p {
  margin: 0;
}

.poster a {
  color: inherit;
  text-decoration: none;
}

.like-share {
  list-style: none;
  padding: 0 0 0 5px;
  margin: 5px 0 0 0;
}

.like-share li {
  display: inline;
}

.like-share a {
  text-decoration: none;
}

.make-comment-wrap {
  position: relative;
  margin-top: 5px;
}

.make-comment-wrap .form-group {
  margin: 0;
}

.btn-comment {
  position: absolute;
  right: 0;
  bottom: 0;
  top: 0;
  padding: 0 20px;
}

.content-right {
  flex: 0 0 200px;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.notifications {
  border: 1px solid black;
  flex: 1 1 content;
  margin: 10px 15px;
  padding: 5px;
  overflow-y: auto;
  min-height: 100px;
}

.notification-list {
  /* remove bootstrap margin */
  margin: 0;
}

.notification-list li {
  background-color: #e8e8e8;
  border: 1px solid black;
  border-radius: 2px;
  margin: 10px auto;
}

.notification-list li > a {
  display: block;
  text-decoration: none;
}

.recent-news {
  border: 1px solid black;
  flex: none;
  margin: 10px 15px;
  padding: 5px;
  position: relative;
}

.read-more {
  position: absolute;
  right: 0;
  bottom: 0;
}

footer {
  border-top: 1px solid black;
  text-align: center;
  /* const size */
  flex: none;
}
