/* necessary for footer */
html {
  position: relative;
  min-height: 100%;
}

body {
	/* necessary because of navbar fixed to top */
  padding-top: 51px;
  /* background */
  background: url("../images/backg.jpg") no-repeat center center fixed;
  background-size: cover;
}

.footer {
   text-shadow: 0 0 10px #ffffff;
   text-align: center;
}

.navbar-search-bar {
  margin-top: 8px;
  margin-bottom: -8px;
}

.navbar {
  /* const size */
  flex: none;
  /* remove bootstrap margin */
  margin-bottom: 0;
}

.search-btn {
  height: 34px;
}

a:link, a:active, a:visited {
	color: #8a2f2f;
	text-decoration: none;
	font-weight: bold;
}

a:hover {
	color: #7d7c7c;
	text-decoration: none;
}

@media (min-width: 768px) {
	.navbar-search-bar {
		width: 50%;
		margin: 0 auto;
		margin-top: 8px;
		margin-bottom: -8px;
	}
	.navbar .navbar-nav {
		display: inline-block;
		float: none;
	}

	.navbar .navbar-collapse {
		text-align: center;
	}
}
