/* necessary for footer */
html {
	position: relative;
	min-height: 100%;
}

body {
	/* necessary because of navbar fixed to top */
  padding-top: 51px;
  /* background */
  background: url("../images/backg.jpg") no-repeat center center fixed;
  background-size: cover;
  font-family: "Open Sans";
}

footer {
	color: #000;
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    text-align: center;
	text-shadow: 1px 1px #ccc;
	font-size: 10px;
	background-color: #fff;
	height: 2rem;
}

.search-bar-wrap {
	overflow: hidden;
}

.navbar-search-bar {
  margin-top: 8px;
  margin-bottom: -8px;
}

.navbar {
  /* const size */
  flex: none;
  /* remove bootstrap margin */
  margin-bottom: 0;
}

.search-btn {
  height: 34px;
}

a:link, a:active, a:visited {
	color: #8a2f2f;
	text-decoration: none;
	font-weight: bold;
}

a:hover {
	color: #7d7c7c;
	text-decoration: none;
}

@media (min-width: 768px) {
	.navbar-search-bar {
		width: 50%;
		margin: 0 auto;
		margin-top: 8px;
		margin-bottom: -8px;
	}
	.navbar .navbar-nav {
		display: inline-block;
		float: none;
	}

	.navbar .navbar-collapse {
		text-align: center;
	}
}

#not-found {
	text-shadow: 2px 2px #ccc;
	text-align: center;
	padding: 2rem;
}

.centered-and-cropped {
	object-fit: cover;
}

.thumb-64px {
  width: 64px;
  height: 64px;
  margin: 0.1rem 0rem;
}

@media (max-width: 768px) {
	.search-results-wrap {
		width: 100% !important;
		left: 0;
	}
}

