.info{
	margin: 1rem;
}

.info .btn {
	width: 10rem;
	font-size: 1.5rem;
	background-color: #8A2F2F;
	border-color: #ccc;
	font-weight: bold;
}

.img-responsive{
	display: block;
	margin-left:auto;
    margin-right:auto;
}

.details {
	height:50%;
    width: 50%;
	margin-top:10px;
	position: relative;
	border: 1px solid black;
}

.event-header {
	margin-right: 2rem;
	margin-left: 2rem;
	padding-top: 1rem;
	padding-bottom: 1rem;
	background-color:#DEE7E4;
	background-image: radial-gradient(#fff 10%, transparent 10%),
	radial-gradient(#fff 10%, transparent 10%);
	background-size: 30px 30px;
	background-position: 0 0, 15px 15px;
	border-color: #ccc;
	border-style: solid;
	border-width: 1px;
}

.user-options {
	text-align: right;
	margin-right: 2rem;
}

.event-header-img {
	color: #8A2F2F;
	text-align: center;
	text-shadow: 2px 2px #ccc;
}

#event-image {
	font-size: 15rem;
}

.event_bar {
	padding-right: 2rem;
	padding-left: 2rem;
}

.about, .photos, .guests {
	padding: 1rem;
	background-color: white;
	overflow:auto;
	border-color: #ccc;
	border-style: solid;
	border-width: 1px;
	margin-left: 2rem;
	margin-right: 2rem;
}

.about-body dd {
	margin-bottom: 1rem;
}

.about-body {
	text-align: justify;
}

.centered-and-cropped {
	object-fit: cover;
}

.thumb-150px {
	width: 150px;
	height: 150px;
	margin: 0.2rem 0.1rem;
}

.guests-body {
	font-weight: bold;
}

.guests-body figcaption {
	text-align: center;
}

.imgContainer {
	display: inline-block;
	position: relative;
}

.imgContainer figcaption {
	width: 90%;
}

.guests-body figure {
    vertical-align: top;
}

.user-options {
	text-align: right;
	margin-right: 2rem;
	margin-left: 2rem;
	padding: 1rem;
	background-color: #fff;
	border-color: #ccc;
	border-style: solid;
	border-width: 1px;
}

.event-opt {
	background: linear-gradient(to bottom, #F0ABAB,#8A2F2F);
	color: white;
    border-color: #ccc;
	border-width: 0.1rem;
    cursor:pointer;
    border-radius: 5px;
	font-weight:bold;
	width: 8rem;
}

.event-opt:hover {
	color: white;
}

.edit-event-opt {
	background: linear-gradient(to bottom, #F0ABAB,#8A2F2F);
	color: white;
    border-color: #ccc;
	border-width: 0.1rem;
    cursor:pointer;
    border-radius: 5px;
	font-weight:bold;
	padding-left: 1rem;
	padding-right: 1rem;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
}

.edit_event_box {
	display: none;
	position: fixed;
	padding: 16px;
	border-color: #ccc;
	border-style: solid;
	border-width: 1px;
	background-color: white;
	z-index: 1002;
	width: 50rem;
	height: 400px;
	overflow: auto;
	top: 50%;
	left: 50%;
	margin-top: -200px; /* Negative half of height. */
	margin-left: -250px; /* Negative half of width. */
}

@media (max-width: 768px) {
	.edit_event_box {
		width: 30rem;
		margin-left: -15rem;
	}
}