@media (max-width: 768px) {
	.btn-wrap input[type="submit"] {
		padding:0.3rem 1rem !important;
		width: 90px !important;
	}
	
	.btn-wrap label {
		width: 90px !important;
		padding: 0.5rem;
	}
	
}

#welcome-message {
	text-shadow: 2px 2px #ccc;
	text-align: center;
}

#welcome-message h3 {
	color: #3d3d5c;
}

html {
  height: 100%;
}

body {
  height: 100%;
  background: url("../images/backg.jpg") no-repeat center center fixed;
  background-size: cover;
}

.body-flex {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.navbar {
  /* const size */
  flex: none;
  /* remove bootstrap margin */
  margin-bottom: 0;
}

/* if it's stupid but it works, it isn't stupid */
.navbar-search-bar {
  margin-top: 8px;
  margin-bottom: -8px;
}

.content {
  flex: auto;
  display: flex;
}

.content-left {
  flex: 0 0 25%;
  padding-left: 10rem;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.content-middle {
  flex: auto;
  overflow-y: auto;
  padding: 1rem;
}

.content-right {
  flex: 0 0 25%;
  padding-right: 10rem;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.events, .groups {
	flex: 0 0 auto;
	margin: 10px 15px;
	padding: 5px;
	overflow-y: hidden;
	background-color: white;
	border-color: #ccc;
	border-style: solid;
	border-width: 1px;
	text-indent: 0.5rem;
	line-height: 160%;
}

.border-create {
	padding: 0.5rem;
	border-radius: 2rem;
	border-color: #ccc;
	border-style: solid;
	border-width: 1px;
	font-size: 2rem;
}

.event-list, .group-list {
  /* remove bootstrap margin */
  margin: 0;
}

.chat {
  border: 1px solid black;
  min-height: 150px;
  flex: 1 1 content;
  margin: 10px 15px;
  padding: 5px;
  display: flex;
  flex-direction: column;
}

.contact-list {
  flex: 1 1 content;
  /* remove bootstrap margin */
  margin: 0;
  overflow-y: auto;
}

.contact-list li {
  background-color: #e8e8e8;
  border: 1px solid black;
  border-radius: 2px;
  width: 80%;
  margin: 10px auto;
}


.chat-search-bar {
  margin: 0;
  padding-top: 10px;
  padding-bottom: 5px;
}

.txtarea-post {
  margin: 0;
}

.make-post {
  margin: 0rem 1.5rem;
  padding: 5px;
}

.post {
	padding: 1rem;
	background-color: white;
	overflow:auto;
	border-color: #ccc;
	border-style: solid;
	border-width: 1px;
}

.post_space {
	margin: 0rem 2rem 5rem 2rem;
}

.post .dropdown-toggle, .post .open>.dropdown-toggle.btn-primary:focus, .btn-primary.active:hover {
color: #000;
	background-color: transparent;
	border: 0px;
	border-radius: 0px;
}

.black_overlay {
  display: none;
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: 1001;
  -moz-opacity: 0.8;
  opacity: .80;
  filter: alpha(opacity=80);
}

.edit_box {
	display: none;
	position: fixed;
	padding: 16px;
	border-color: #ccc;
	border-style: solid;
	border-width: 1px;
	background-color: white;
	z-index: 1002;
	width: 50rem;
	top: 50%;
	left: 50%;
	margin-top: -100px; /* Negative half of height. */
	margin-left: -250px; /* Negative half of width. */
}

.edit_box .controls{
    text-align: right;
	line-height: 80%;
}
.edit_box .update {
	background: linear-gradient(to bottom, #ffffff,#e5e5e5);
    border: 1px solid #999;
    padding: 10px 25px;
    font-weight: bold;
    color: rgb(77,77,77);
    border-width: 1px 0 0 1px;
	margin-top: -0.1rem;
}

.edit_box .bootstrap-select .btn {
	background-color: white;
	margin-top: -0.1rem;
}

.edit_box textarea {
    background: linear-gradient(to bottom, #e5e5e5,#f2f2f2);
    border:none;
    width:100%;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-bottom: 1px dotted #999;
    resize: none;
}

.edit_box .wrapper {
	background: #eee;
    border: 1px solid #999;
	margin: 0rem 0.5rem 0.5rem 0.5rem;
}


@media (max-width: 768px) {
	.edit_box {
		width: 30rem;
		margin-left: -15rem;
	}
}

.post-content {
	padding: 1.5rem;
}

.post-body {
	margin: 0;
}

.poster img {
	float: left;
	margin: 0.5rem;
}
 
.poster .post-date span {
	padding-top: 50px;
	vertical-align: top;
}

.ph_display {
    margin-left: auto;
    margin-right: auto;
    height: auto; 
    width: auto; 
    max-width: 90%; 
    display: block;
}

.opt-group .btn {
	font-size: 1.5rem;
	border-color: #fff;
	text-align: center;
	color: #8a2f2f;
    font-weight: bold;
}

.post-opt:hover {
	background-color: transparent;
}

.post-opt:hover a {
	color: #999;
}

.make-comment-wrap {
  position: relative;
  margin-top: 5px;
}

.make-comment-wrap .form-group {
  margin: 0;
}

.btn-comment {
  position: absolute;
  right: 0;
  bottom: 0;
  top: 0;
  padding: 0 20px;
}

.notifications {
  border: 1px solid black;
  flex: 1 1 content;
  margin: 10px 15px;
  padding: 5px;
  overflow-y: auto;
  min-height: 100px;
}

.notification-list {
  /* remove bootstrap margin */
  margin: 0;
}

.notification-list li {
  background-color: #e8e8e8;
  border: 1px solid black;
  border-radius: 2px;
  margin: 10px auto;
}

.notification-list li > a {
  display: block;
  text-decoration: none;
}

.recent-news {
  border: 1px solid black;
  flex: none;
  margin: 10px 15px;
  padding: 5px;
  position: relative;
}

.read-more {
  position: absolute;
  right: 0;
  bottom: 0;
}

footer {
  border-top: 1px solid black;
  text-align: center;
  /* const size */
  flex: none;
}

/*
	Write post personalization
*/

.btn-wrap input[type=submit] {
	margin: 0.5rem 0rem;
    padding:0.3rem 4rem; 
	background: linear-gradient(to bottom, #F0ABAB,#8A2F2F);
	color: white;
    border-color: #ccc;
	border-width: 0.1rem;
    cursor:pointer;
    border-radius: 5px;
	font-weight:bold;
	width: 150px;
	height: 3.2rem;
}

.button-container input{
	display: inline;
}

.btn-wrap {
	text-align: right;
}

.btn-wrap .btn {
    background: white;
	color: #8a2f2f;
	border-color: #ccc;
}

.thumb-32px {
	width: 32px;
	height: 32px;
}

.centered-and-cropped {
	object-fit: cover;
}

.content-left h3, .content-right h3 {
  /* bootstrap margin is huge */
  margin: 1rem;
  font-size: 2.2rem;
}

.add-instance li > a {
	text-shadow: 2px 2px #ccc;
	color: #000;
}

.events-content, .groups-content {
	max-height: 150px;
	overflow: auto;
}