h2{
    text-align:center;
    text-shadow: 0.5px 0.5px 0.5px #000000;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
 }

.navbar-search-bar {
 	display: none;
 }

.forms {
    padding: 2rem;
    width: 50%;
    float: none;
    margin: 0 auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    background-color: white;
    border-style: solid;
    border-color: #7E472D;
    border-width: 0.15rem;
    box-shadow: 0.5rem 0.5rem 0.25rem #888888;
}

.errors {
	width: 50%;
    float: none;
    margin: 0 auto;
}


@media (max-width: 768px) {
   .forms {
       width: 90%;
   }
}

.submit {
    width: 100%;
    padding: 0.9rem 0rem;
    font-size: 1.5rem;
    background-color: #999;
    color: #fff;
    border-color: #999;
    font-weight: bold;
}
