.forms h2 {
    text-align:center;
    text-shadow: 0.5px 0.5px 0.5px #000000;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
 }

.forms {
    padding: 2rem;
    width: 50%;
    float: none;
    margin: 0 auto;
    margin-top: 2rem;
    margin-bottom: 4rem;
    background-color: white;
    border-style: solid;
    border-color: #7E472D;
    border-width: 0.15rem;
    box-shadow: 0.5rem 0.5rem 0.25rem #888888;
	font-family: "Open Sans";
}

.errors {
	width: 50%;
    float: none;
    margin: 0 auto;
}


@media (max-width: 768px) {
   .forms {
       width: 90%;
   }
}

.submit {
    width: 100%;
    padding: 0.9rem 0rem;
    font-size: 1.5rem;
    background-color: #999;
    color: #fff;
    border-color: #999;
    font-weight: bold;
}

.submit:hover {
	background-color: #797979;
	border-color: #797979;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.error-input {
	border-color: red;
}

.error-in {
	color: #ff0000;
}

.required {
    font-weight: bold;
}
.required:after {
    color: #e32;
    content: ' *';
    display:inline;
}

.number {
  background-color: #8a2f2f;
  color: #fff;
  height: 30px;
  width: 30px;
  display: inline-block;
  font-size: 0.8em;
  margin-right: 4px;
  line-height: 30px;
  text-align: center;
  text-shadow: 0 1px 0 rgba(255,255,255,0.2);
  border-radius: 100%;
}

legend {
  font-size: 1.4em;
  margin-bottom: 10px;
  border: none;
}