.group-header {
	background-color: #fff;
	margin-right: 2rem;
	margin-left: 2rem;
	margin-bottom: 0.5rem;
	padding-top: 1rem;
	padding-bottom: 1rem;
	background-color:#DEE7E4;
	background-image: radial-gradient(#fff 10%, transparent 10%),
	radial-gradient(#fff 10%, transparent 10%);
	background-size: 30px 30px;
	background-position: 0 0, 15px 15px;
	box-shadow: 0 0 10px black;
}

.user-options {
	text-align: right;
	margin-right: 2rem;
}

.group-header-img {
	color: #8A2F2F;
	text-align: center;
	text-shadow: 2px 2px #ccc;
}

#group-image {
	font-size: 15rem;
}

.about-body dd {
	margin-bottom: 1rem;
}

.about-body {
	text-align: justify;
}

.about, .photos, .members {
	padding: 1rem;
	background-color: white;
	overflow:auto;
	border-color: #ccc;
	border-style: solid;
	border-width: 1px;
	margin-left: 2rem;
	margin-right: 2rem;
}

.centered-and-cropped {
	object-fit: cover;
}

.thumb-150px {
	width: 150px;
	height: 150px;
	margin: 0.2rem 0.1rem;
}

.nav-justified > li {
	display: table-cell;
	width: 1%;
}
.nav-justified > li > a {
	margin-bottom: 0;
}

.members-body, .photos-body {
	font-weight: bold;
}

.members-body figcaption {
	text-align: center;
}

.imgContainer {
	display: inline-block;
	position: relative;
}

.imgContainer figcaption {
	width: 90%;
}

.members-body figure {
    vertical-align: top;
}

.group_bar {
	padding-right: 2rem;
	padding-left: 2rem;
}

.group-opt {
	background: linear-gradient(to bottom, #F0ABAB,#8A2F2F);
	color: white;
    border-color: #ccc;
	border-width: 0.1rem;
    cursor:pointer;
    border-radius: 5px;
	font-weight:bold;
	width: 8rem;
}

@media (max-width: 768px) {
	.user-options {
		text-align: center;
	}
}