/* necessary for footer */
html {
  position: relative;
  min-height: 100%;
}

.search-bar-wrap {
  margin-top: 55px;
}

.news-section-wrap {
    margin:3rem;
}

.news-section {
    float: none;
    margin: 0 auto;
	max-height: 400px;
	overflow-y: scroll;
	padding: 2rem;
}

.news {
  /* necessary for .read-more */
	position: relative;
	border-style: solid;
	border-color: #7E472D;
	border-width: 0.15rem;
	box-shadow: 0.5rem 0.5rem 0.25rem #888888;
	margin: 1rem;
	margin-bottom: 2rem;
	background-color: white;
}

.news-body {
	padding-top: 1.5rem;
	padding-bottom: 1.5rem;
	padding-right: 2rem;
	padding-left: 2rem;
	text-align: justify;
}

.read-more {
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 1rem;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

#news-title {
	font-weight: bold;
	text-align: center;
	color: #7E472D;
	text-shadow: 2px 2px #ccc;
}

.centered-and-cropped {
	object-fit: cover;
}

.thumb-64px {
  width: 64px;
  height: 64px;
  margin: 0.1rem 0rem;
}

.search-results-wrap {
	position: absolute;
	z-index:100;
	width: 96.5%;
}

.search-results-wrap li{
	margin: 0;
	padding: 0;
}

.search_res {
	background-color:rgba(255, 255, 255, 0.95);
	border-color: #ccc;
	border-style: solid;
	border-width: 1px;
	color: #7E472D;
}

.search_res a {
	text-shadow: 1px 1px #ccc !important;
}

.form-group {
	margin-bottom: 0px !important;
}

@media (max-width: 768px) {
	.search-results-wrap {
		width: 91% !important;
	}
}
