/*
	User bar personalization
*/

.user_bar {
  	text-align: center;
}

.user_info .list-unstyled {
	text-indent: 10px;
	text-align: left;
}

.user_info img {
    margin-left: auto;
    border-radius: 10px;
    margin-right: auto;
    box-shadow: 0 0 10px black;
    border-color: #ffffff;
    border-style: solid;
    border-width: 3px;
    margin-top: 2rem;
    height: 200px; 
    width: 200px; 
    max-width: 90%; 
    max-height: 90%;
    display: block;
}

.user_info .btn {
	width: 90%;
}

.user_photos, .user_info {
	box-shadow: 0 0 10px black;
	margin: 1.5rem;
	padding: 0.5rem;
	background: url('http://i41.tinypic.com/28h3fwh.png');
	font-size: 95%;
}

/*
	General personalization
*/

.about-body dd {
	margin-bottom: 1rem;
}

.friends-body, .photos-body {
	font-weight: bold;
}

.friends-body figcaption {
	text-align: center;
}

.about, .friends, .post, .photos, .photo-display {
	margin: 0rem 0rem;
	padding: 1rem;
	background-color: white;
	overflow:auto;
	border-color: #ccc;
	border-style: solid;
	border-width: 1px;
}

.timeline {
	padding: 0.5rem;
	margin: 1.5rem;
}

/*
	Write post personalization
*/

.btn-wrap input[type=submit] {
	margin: 0.5rem 0rem;
    padding:0.3rem 4rem; 
    background: linear-gradient(to bottom, #ffffff,#e5e5e5);
    border-color: #fff;
    cursor:pointer;
    border-radius: 5px;
	font-weight:bold;
	width: 150px;
}

.button-container input{
	display: inline;
}

.btn-wrap {
	text-align: right;
}

.btn-wrap .btn {
    background: white;
	color: #8a2f2f;
	border-color: #ccc;
}

.opt-group .btn {
	font-size: 1.5rem;
	border-color: #fff;
	width: 30%;
	text-align: center;
	color: #8a2f2f;
    font-weight: bold;
}

/*
	Like-comment-share personalization
*/

.post-opt:hover {
	background-color: transparent;
}

.post-opt:hover a {
	color: #999;
}

/*
	Post content personalization
*/

.post-content {
	padding: 1.5rem;
}

.post-body p {
	margin: 0;
	text-align: justify;
}

/*
	Poster personalization
*/

.poster img {
	float: left;
	margin: 0.5rem;
}
 
.poster .post-date span {
	padding-top: 50px;
	vertical-align: top;
}

/*
	Write comment personalization
*/

.make-comment-wrap {
  position: relative;
  margin-top: 5px;
}

.make-comment-wrap .form-group {
  margin: 0;
}

.btn-comment {
  position: absolute;
  right: 0;
  bottom: 0;
  top: 0;
  padding: 0 20px;
}

.comment {
  box-shadow: 0 4px 2px -2px gray;
  padding: 0.1rem 0.5rem 1rem 0.5rem;
  margin-bottom: 0.3rem;
  background-color: #f2f2f2;
}

.comment .dropdown-toggle, .photo-display .dropdown-toggle, .post .dropdown-toggle, .open>.dropdown-toggle.btn-primary:focus, .btn-primary.active:hover {
	color: #000;
	background-color: transparent;
	border: 0px;
	border-radius: 0px;
}

/*
	Photo thumbnails
*/

.thumb-150px {
	width: 150px;
	height: 150px;
	margin: 0.2rem 0.1rem;
}

.thumb-64px {
  width: 64px;
  height: 64px;
  margin: 0.1rem 0rem;
}

.thumb-100px {
  width: 100px;
  height: 100px;
  margin: 0.1rem 0rem;
}

.thumb-32px {
	width: 32px;
	height: 32px;
}

/*
	Post photo display
*/

.ph_display {
    margin-left: auto;
    margin-right: auto;
    height: auto; 
    width: auto; 
    max-width: 90%; 
    display: block;
}

.post_space {
	margin-bottom: 5rem;
}

/*
	Edit post/comment personalization
*/

.black_overlay {
  display: none;
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: 1001;
  -moz-opacity: 0.8;
  opacity: .80;
  filter: alpha(opacity=80);
}

.edit_box {
	display: none;
	position: fixed;
	padding: 16px;
	border-color: #ccc;
	border-style: solid;
	border-width: 1px;
	background-color: white;
	z-index: 1002;
	width: 50rem;
	top: 50%;
	left: 50%;
	margin-top: -100px; /* Negative half of height. */
	margin-left: -250px; /* Negative half of width. */
}

.edit_box .controls{
    text-align: right;
	line-height: 80%;
}
.edit_box .update {
	background: linear-gradient(to bottom, #ffffff,#e5e5e5);
    border: 1px solid #999;
    padding: 10px 25px;
    font-weight: bold;
    color: rgb(77,77,77);
    border-width: 1px 0 0 1px;
	margin-top: -0.1rem;
}

.edit_box .bootstrap-select .btn {
	background-color: white;
	margin-top: -0.1rem;
}

.edit_box textarea {
    background: linear-gradient(to bottom, #e5e5e5,#f2f2f2);
    border:none;
    width:100%;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-bottom: 1px dotted #999;
    resize: none;
}

.edit_box .wrapper {
	background: #eee;
    border: 1px solid #999;
	margin: 0rem 0.5rem 0.5rem 0.5rem;
}

.nav-justified > li {
	display: table-cell;
	width: 1%;
}
.nav-justified > li > a {
	margin-bottom: 0;
}

.btn:focus, .btn:active:focus, .btn.active:focus  {
	outline: none;
}

.imgContainer {
	display: inline-block;
}

.centered-and-cropped {
	object-fit: cover;
}